*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Arial, Sans-Serif;
	background-color: gray;
}
header{
	position: fixed;
	width: 100%;
	color: white;
	text-shadow: 1px 1px 3px black;
	padding: 1px;
	background: linear-gradient(to top, cyan, rgb(0, 123, 255));
	text-align: center;
}
a{
	color: white;
	padding: 1px 10px;
	text-decoration: none;
	font-family: Sans-Serif;
}
a:hover{
	background: rgba(0, 123, 255, 0.8);
	color: cyan;
}
img{
	width: 100px;
	margin: 22px;
}
section{
	width: 100%;
	height: 430px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#inicio{
	flex-direction: column;
	background-color: blue;
}