*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Arial, Sans-Serif;
	background: linear-gradient(to top,#0040AE, #1D52AE, #3A65A2, #5777AE );
}
header{
	position: fixed;
	width: 100%;
	color: white;
	text-shadow: 1px 1px 3px black;
	padding: 1px;
	background: linear-gradient(to top, cyan, rgb(0, 123, 255));
	text-align: center;
}
h1{
	font-family: Times;
	color: white;
	text-shadow: 1px 1px 3px black;
}
a{
	color: white;
	padding: 1px 10px;
	text-decoration: none;
	font-family: Sans-Serif;
}
a:hover{
	background: rgba(0, 123, 255, 0.8);
	color: cyan;
}
img{
	width: 200px;
	border-radius: 100%;
	box-shadow: 1px 1px 3px black;
}
section{
	width: 100%;
	height: 430px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#inicio{
	background-color: blue;
}
#sobre{
	background-color: green;
}
#estudando{
	background-color: yellow;
}
#projetos{
	background-color: purple;
}
#social{
	background-color: white;
}
